@using System.Security.Claims


<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
        <!-- User Sidebar -->
            <!-- User Card -->
            <!-- Activity Timeline -->
            <div class="card mb-4">
                <div class="card-header mb-3">
                    @if(ViewBag.CanUpload){
                        <small class="text-muted float-end primary-font">
                            <form action="/Home/AddFile" method="post" enctype="multipart/form-data" id="fileUploadForm">
                                <label for="upload" class="btn btn-label-dark me-2 mb-4" tabindex="0">
                                        <span class="d-none d-sm-block">ارسال فایل جدید</span>
                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                        <input type="file" id="upload" class="account-file-input" hidden multiple name="NewFiles" onchange="submitForm(this)">
                                    </label>
                                <input type="hidden" name="id" value="@ViewBag.Cat.Id">
                            </form>
                        </small>

                        <script>  
                            function submitForm(input) {  
                                if (input.files.length > 0) {  
                                    document.getElementById('fileUploadForm').submit();  
                                }
                            }  
                        </script>
                    }
                    <h5 class="mb-0">@ViewBag.Cat.CatName</h5>

                </div>
                <div class="card-body">
                    <ul class="timeline">
                        @foreach(var item in ViewBag.Data){
                            <li class="timeline-item timeline-item-transparent">
                            <span class="timeline-point timeline-point-primary"></span>
                            <div class="timeline-event">
                                <div class="timeline-header mb-1">
                                    <h6 class="mb-0 mt-n1">@item.SenderUser.FirstName @item.SenderUser.LastName @item.Files.Count فایل ارسال کرد.</h6>
                                    <small class="text-muted mt-1 mt-sm-0 mb-1 mb-sm-0">
                                    @if(DateTime.Now.AddDays(-1) < item.CreateDateTime && ViewBag.CanUpload && item.SenderUserId== Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier)?.Value))
                                    {
                                        <a type="button" class="btn-sm btn-outline-danger" href="/home/DeleteFile/@ViewBag.Cat.Id?FileId=@item.Id">پاک کردن</a>  
                                    }
                                    @PubDo.persianDate(item.CreateDateTime).Item2 @PubDo.persianDate(item.CreateDateTime).Item1
                                    </small>
                                </div>
                                <p class="mb-2">
                                    @foreach(var Files in item.Files){
                                        <a type="button" class="btn btn-primary" href="@Files.FilePath"
                                                target="_blank">@Files.FileName</a>
                                    }
                                </p>
                            </div>
                        </li>
                        }
                    </ul>
<!-- Basic Pagination -->
            <nav aria-label="Page navigation">
              <ul class="pagination">
                @if (ViewBag.page - 2 > 0)

                {
                  <li class="page-item first">
                    <a class="page-link" href="/admin/home/view/@ViewBag.Cat.Id?page=1"><i class="tf-icon bx bx-chevrons-left"></i></a>
                  </li>
                }
                @if (ViewBag.page - 1 != 0)

                {
                  <li class="page-item prev">
                    <a class="page-link" href="/admin/home/view/@ViewBag.Cat.Id?page=@(ViewBag.page-1)"><i
                        class="tf-icon bx bx-chevron-left"></i></a>
                  </li>
                }
                @if (ViewBag.page - 2 > 0)
                {
                  <li class="page-item">
                    <a class="page-link"
                      href="/admin/home/view/@ViewBag.Cat.Id?page=@(ViewBag.page-2)">@(ViewBag.page -2)</a>
                  </li>
                }
                @if (ViewBag.page - 1 > 0)
                {
                  <li class="page-item">
                    <a class="page-link"
                      href="/admin/home/view/@ViewBag.Cat.Id?page=@(ViewBag.page-1)">@(ViewBag.page -
                  1)</a>
                  </li>
                }
                <li class="page-item active">
                  <a class="page-link"
                    href="/admin/home/view/@ViewBag.Cat.Id?page=@ViewBag.page">@ViewBag.page</a>
                </li>
                @if (ViewBag.page + 1 <= ViewBag.DataCount)
                {
                  <li class="page-item">
                    <a class="page-link"
                      href="/admin/home/view/@ViewBag.Cat.Id?page=@(ViewBag.page+1)">@(ViewBag.page +
                  1)</a>
                  </li>
                }
                @if (ViewBag.page + 1 < ViewBag.DataCount)
                {
                  <li class="page-item">
                    <a class="page-link"
                      href="/admin/home/view/@ViewBag.Cat.Id?page=@(ViewBag.page+2)">@(ViewBag.page +2)</a>
                  </li>
                }
                @if (ViewBag.page + 1 <= ViewBag.DataCount)
                {
                  <li class="page-item next">
                    <a class="page-link" href="/admin/home/view/@ViewBag.Cat.Id?page=@(ViewBag.page+1)"><i
                        class="tf-icon bx bx-chevron-right"></i></a>
                  </li>
                }
                @if (ViewBag.page + 1 < ViewBag.DataCount)
                {
                  <li class="page-item last">
                    <a class="page-link" href="/admin/home/view/@ViewBag.Cat.Id?page=@ViewBag.DataCount"><i
                        class="tf-icon bx bx-chevrons-right"></i></a>
                  </li>
                }
              </ul>
            </nav>
            <!--/ Basic Pagination -->
            <!-- /Activity Timeline -->
        </div>
        <!--/ User Content -->
    </div>
</div>
<!--/ Content -->